/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    right: 0px;
    top: 64px;
    z-index: 0;
    /*border: 1px dashed red;*/
}