.feynman__link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
}