.section-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    /*border: 1px dashed rgb(24, 23, 23);*/
}