.feynman__subtitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    /*border: 1px dashed rgb(17, 0, 255);*/
}