.kaufman__triangle {
    background-image: url("../../../images/kaufman-triangle.svg");
    /*background-col: #2f80ed;*/
    width: 877px;
    height: 877px;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: -210px;
    z-index: -1;
    /*border: 1px dashed red;*/
}